%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    .wrappers
      = render 'layouts/register-header'
      %main.r-top-main
        %section.r-top-main-contents
          %h2.r-top-main-header 新規会員登録
          .r-top-main-content
            .r-top-main-regist
              = link_to page1_signup_index_path, {class: "r-top-main-regist__btn-mailaddress r-top-btn"} do
                .r-top-main-regist-mail-icon
                  %i.far.fa-envelope.fa-lg
                メールアドレスで登録する
              = link_to user_facebook_omniauth_authorize_path, method: :post, class: "r-top-main-regist__btn-facebook r-top-btn r-top-btn-btn" do
                %i.fab.fa-facebook-square.fa-2x.facebook-icon
                %p.facebook-text Facebookで登録する
              = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "r-top-main-regist__btn-google r-top-btn r-top-btn-btn" do
                %i.fab.fa-google.fa-lg.google-icon
                %p.google-text Googleで登録する
      = render 'layouts/register-footer'