.stepwrap
  .heading
    .heading__logo
      =image_tag "fmarket_logo_red.svg", size: "185x49", alt: "logo"
    .progress-status
      %ul.progress
        %li.is-active
          会員情報
          %div{"data-step" => ""}
        %li
          電話番号認証
          %div{"data-step" => ""}
        %li
          お届け先住所入力
          %div{"data-step" => ""}
        %li
          支払い方法
          %div{"data-step" => ""}
        %li.progress__last
          完了
          %div{"data-step" => ""}
  = form_for @user,:url => {:action => :create} do |f|
    - if @user.errors.any?
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message 
    .user-title
      会員情報入力
      .user-text
        .uesr-text__flame
          .field
            = f.label :nickname, 'ニックネーム', { class: "user-text__flame--small" }
            %span.form-require
              必須
            %br/
            = f.text_field :nickname, placeholder: '例) メルカリ太郎', html: {class: "user-place"}
          .field
            = f.label :email, 'メールアドレス', { class: "user-text__flame--small"}
            %span.form-require
              必須
            %br/
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
          .field
            = f.label :password, 'パスワード', { class: "user-text__flame--small"}
            %span.form-require
              必須
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password"
            %p.form-info-text ※ 英字と数字の両方を含めて設定してください
            %p パスワードを表示する
            %h3 本人確認
            %p.l-single-text
              安心・安全にご利用いただくために、お客さまの本人
              %br/
              情報の登録にご協力ください。他のお客さまに公開さ
              %br/
              れることはありません。
                  
          .field
            = f.label :name, 'お名前(全角)', { class: "user-text__flame--small"}
            %span.form-require
              必須
            %br/
            = f.text_field :last_name, placeholder: '例) 山田'
            = f.text_field :first_name, placeholder: '例) 彩'
          .field
            = f.label :name_kana, 'お名前カナ(全角)', { class: "user-text__flame--small"}
            %span.form-require
              必須
            %br/
            = f.text_field :last_name_kana, placeholder: '例) ヤマダ'
            = f.text_field :first_name_kana, placeholder: '例) アヤ'
          .uesr-text__flame 
            .field
              = f.label :birth, '生年月日', { class: "user-text__flame--small"}
              %span.form-require
                必須
              %br/
              = f.select :birth_year,["--"], {},{class: "セレクトボックスを修飾するクラスを入れる", id:"select_birth_year"}
              %label
              年
              = f.select :birth_month, ["--"], {},{class: "セレクトボックスを修飾するクラスを入れる", id:"select_birth_month"}
              %label
              月
              = f.select :birth_day, ["--"], {},{class: "セレクトボックスを修飾するクラスを入れる", id:"select_birth_day"}
              %label
              日
            %p.user-text__note ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .g-recaptcha{"data-callback" => "clearcall", "data-sitekey" => "6Lc7ccYUAAAAAFd6H9n4KZ-HTY5_bwk4TfCyOMWo"}
            .user-text__flame--text 
              「次へ進む」のボタンを押すことにより、  利用規約に<br>に同意したものとみなします
            = f.submit '次へ進む', name: "phone-button", class: "user-btn"
            .user-text__flame--link
              本人情報の登録について>
= render 'layouts/register-footer'
