%div.mypage
  %div.mypage-side
    .l-side
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item active" do
              マイページ
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              お知らせ
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              やりことリスト
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              いいね！一覧
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              出品する
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              .list-item__name
                出品した商品-出品中
              -# = link_to exhibit_item_path do
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              .list-item__name
                出品した商品-取引中
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              .list-item__name
                出品した商品-売却売却済み
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              購入した商品-取引中
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"


          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              購入した商品-過去の取引
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              ニュース一覧
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              評価一覧
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              ガイド
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            = link_to mypage_users_path, class: "mypage-nav-list-item" do
              お問い合わせ
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li.mypage-nav-list-wrapper
          = link_to mypage_users_path, class: "mypage-nav-list-item" do
            残高・振込申請
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          = link_to mypage_users_path, class: "mypage-nav-list-item" do
            ポイント
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"

      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li.mypage-nav-list-wrapper
          = link_to editprofile_users_path, class: "mypage-nav-list-item" do
            プロフィール
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          = link_to mypage_users_path, class: "mypage-nav-list-item" do
            発送元・お届け先住所変更
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          = link_to new_card_path, class: "mypage-nav-list-item" do
            支払い方法
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          = link_to mypage_users_path, class: "mypage-nav-list-item" do
            メール/パスワード
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          = link_to mypage_users_path, class: "mypage-nav-list-item" do
            本人情報
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          = link_to mypage_users_path, class: "mypage-nav-list-item" do
            電話番号の確認
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          = link_to signout_users_path, class: "mypage-nav-list-item" do
            ログアウト
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"