%body.mypage-test
  = render 'layouts/header'
  - breadcrumb :mypage
  = render 'layouts/breadcrumbs'
  %div.l-container
    .mypage-contents
      = render 'users/mypageSidebar'
      .mypage-l-content
        .l-content-top
          %section.mypage-user-icon
            %a{:href => "#"}
              %figure
                = image_tag src="/assets/girl-4660954_1280.jpg", size: "60x60"
              %h2.bold ""
              .mypage-number
                %div
                  評価
                  %span.bold ""
                %div
                  出品数
                  %span.bold ""
          %section.mypage-tab-container
            %ul.mypage-tabs
              %li.notice.active-test
                %h3
                  %a{"data-toggle" => "tab",}
                    お知らせ
              %li.notice
                %h3
                  %a.a{"data-toggle" => "tab",}
                    やることリスト
            .tab-content.test
              %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
              %li.mypage-list-list
                %a{:href => "#"}
                  %fugure
                    =image_tag "girl-4660954_1280.jpg", size: "48x48", alt: "img"
                  .mypage-item-body
                    .mypage-iten-text
                    %time
                      %i.icon-time
                      %span
                  %i.mypage-icon-arrow-right
                  =fa_icon "chevron-right", class: "icon-arrow-right"
              %li.mypage-go-list
                %a{:href => "#"} 一覧を見る
            .tab-content
              %ul#mypage-tab-todo.mypage-item-list.tab-pane
                %li.mypage-item-not-fond.bolds 現在、やることはありません
          .l-content-bottom
            %h2.mypage-tab-head-wrpper 購入した商品
            %ul.mypage-tabs
              %li.transaction.active
                %h3
                  %a{"data-toggle" => "tab",}
                    取引中
              %li.transaction
                %h3
                  %a.a{"data-toggle" => "tab",}
                    過去の取引
              .tabs-content.show
                %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
                  %li.mypage-item-not-fund.bold 取引中の商品がありません
              .tabs-content
                %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
                  %li.mypage-item-not-fund.bold 過去に取引した商品がありません



  = render 'layouts/footer'