= form_for @item, enctype: "multipart/form-data" do |f|
  .itemwrap
    .header-item
      .header-item__logo
        =image_tag "fmarket_logo_red.svg", size: "185x49", alt: "logo"
      .item-sell
        .item-sell__title
          商品の情報を入力
        -# 出品画像
        .item-sell__upload
          .item-sell__upload--head
            出品画像  
          .item-sell__upload--require
            必須       
          .item-sell__upload--box
            最大10枚までアップロードできます
          .item-sell__upload--drop#click-btn
            .item-sell__upload--drop--post
              = f.fields_for :images do |image_field|
                .dropzone-container
                  #preview
                  .dropzone-area
                    = image_field.label :image, class: "dropzone-box", for: "upload-image__btn" do
                      .input_area
                        = image_field.file_field :image, id: "upload-image__btn", class: "upload-image", 'data-image': 0, type: "file", multiple: "true"
                        %p
                          ドラッグアンドドロップ
                          %br
          -# 商品名
        .item-content-new
          .item-content-new__title
            .item-content-new__title--lavel
              商品名
            .item-content-new__title--require
              必須       
            = f.text_field :name,  class: "item-name-place", placeholder:  "商品名(必須40字まで)", row: "1"
            .item-content-new__discription
              .item-content-new__title--lavel
                商品の説明 
              .item-content-new__title--require  
                必須       
          = f.text_field :description, cols: "40", rows: "4", class: "item-name-content", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .item-detail-new
          .item-detail-new__category
            .item-detail-new__category--title
              商品の詳細    
            .item-detail-new__category__menu

            -# 商品カテゴリ
            %label
              カテゴリー
              %span.form-require 必須

              -# %i.item-arrow-down
              -#   =fa_icon "chevron-down", class: "item-arrow-down"
              .item-detail__category--selection
                = f.select :category_id, {},{},{class: "select-category"} do
                  %option{value: "--"} ---
                  %option{value: "A"} A型
                  %option{value: "B"} B型
                  %option{value: "O"} O型
                  %option{value: "AB"} AB型
          .item-detail-new__status 
            %label
              商品の状態
              %span.form-require 必須
              = f.select :status, {},{},{class: "select-category"} do
                %option{value: "--"} ---
                %option{value: "A"} A型
                %option{value: "B"} B型
                %option{value: "O"} O型
                %option{value: "AB"} AB型
              -# 配送について
        .item-fees
          .item-fees__about
            .item-fees__about--title
              配送について
              = link_to "#", class: "form-question" do
                %span.form-question ?
            .item-fees__about--rate
              %label
                配送料の負担
                %span.form-require 必須
                = f.select :shipping_fee, {},{},{class: "select-category"} do
                  %option{value: "--"} ---
                  %option{value: "A"} A型
                  %option{value: "B"} B型
                  %option{value: "O"} O型
                  %option{value: "AB"} AB型
          .item-fees__status 
            %label
              発送元の地域
              %span.form-require 必須
            = f.select :prefecture, {},{},{class: "select-category"} do
              %option{value: "--"} ---
              %option{value: "A"} A型
              %option{value: "B"} B型
              %option{value: "O"} O型
              %option{value: "AB"} AB型
          .item-fees__status 
            %label
              発送までの日数
              %span.form-require 必須
            = f.select :shipping_date, {},{},{class: "select-category"} do
              %option{value: "--"} ---
              %option{value: "A"} A型
              %option{value: "B"} B型
              %option{value: "O"} O型
              %option{value: "AB"} AB型
              -# 販売価格
        .production-price
          .productionprice__about
            %h3.production-price__about--title
              販売価格(300〜9,999,999)
              = link_to "#", class: "form-question" do
                %span.form-question ?
          .production-price__rate
            .production-price__rate__text
              %p.production-price__rate__text--note 
                価格
              %span.production-price__rate__text--require 必須
              .production-price__rate__text--yen
                ¥
              = f.text_field :price,  class:"production-price-plate", placeholder:  "例)300", row: "1"
             
            -# 消費税
            .production-price__rate__consumption
              .production-price__rate__consumption--text 販売手数料(10%)
              .production-price__rate__consumption--fee -
              -# 料金入力時に課金
            .production-price__rate__profit
              .production-price__rate__profit--text 販売利益
              .production-price__rate__profit--value -

              -# 料金入力時に利益記載
        .item-content-new
          %p
          = link_to "禁止されている出品", 'https://www.mercari.com/jp/help_center/getting_started/prohibited_items/', class:"link-blue" 
          、
          = link_to "行為", 'https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/', class:"link-blue"
          を必ずご確認ください。
        
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", 'https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/', class:"link-blue"  
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to "加盟店規約", 'https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/', class:"link-blue" 
            に同意したことになります。

          = f.submit '出品する', class: "item-btn"
          %input{name: "item-back", type: "submit", value: "もどる", class:"item-back-btn"}
        %footer.footer-register
          .footer-contetns
            %nav
              %ul.exp
                %li.exp__list
                  %a{href: "#"} プライバシーポリシー
                %li.exp__list
                  %a{:href => "#"} メルカリ利用規約
                %li.exp__list
                  %a{:href => "#"} 特定商取引に関する表記
            .logo
              %a{:href => "#"}
                =image_tag "logo_gray.svg",  size: "140x70", alt: "logo"
              %p © Mercari, Inc.