= render 'layouts/header_login'
.wrapper-goods-detail
  .item-box-container-detail
    %h1.item-name-detail
      = @item.name
    .item-main-content-detail
      .item-photo-detail
        .item-photo-content
          = image_tag @item.images.first.image , class: 'main-img', alt: @item.name, style: 'opacity: 1;'
        .item-dots
          .item-dot.is-active
            = image_tag @images
      %table.item-detail-table
        %tbody.table-body
          %tr
            %th 出品者
            %td
              = link_to(@item.seller.nickname, {})
              %div
                .item-user-ratings
                  %i.far.fa-smile-beam
                  %span 28
                .item-user-ratings
                  %i.far.fa-meh
                  %span 0
                .item-user-ratings
                  %i.far.fa-frown
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                %div レディース
              = link_to "#" do
                .item-detail-table-sub-category
                  %i.icon-arrow-right
                  アクセサリー
              = link_to "#" do
                .item-detail-table-sub-sub-category
                  %i.icon-arrow-right
                  リング
          %tr
            %th ブランド
            %td
              = link_to "#" do
                %div
                  ジャスティン デイビス
          %tr
            %th 商品の状態
            %td 
              = @item.status
          %tr
            %th 配送料の負担
            %td
              = @item.shipping_fee
          %tr
            %th 配送の方法
            %td 
              = @item.shipping_method
          %tr
            %th 配送元地域
            %td
              = link_to(@item.region, {})
          %tr
            %th 発送日の目安
            %td
              = @item.shipping_date
    .item-price-box
      %span.item-rice-detail
        ¥ 
        = @item.price
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    - if current_user.id == @item.seller_id 
      .edit-and-delete
        = link_to "", class: "item-edit-button" do
          編集
        = link_to "/items/#{@item.id}", class: "item-delete-button", method: :delete do
          削除
    - else
      = link_to item_buy_index_path(@item.id), class: "item-buy-btn" do
        購入画面に進む
    .item-description
      %p.item-description-inner
        = @item.description
    .item-button-container
      .item-button-left
        %button.item-button.item-button-like{"data-ga": "element", "data-ga-category": "LIKE", "data-ga-label": "like!", "data-id": "m16654911626", "data-toggle": "like", name: "like!", type: "button"}
          %i.far.fa-heart
          %span いいね!
          %span.fade-in-down{"data-num": "like"} 3
        = link_to "#",class: "item-button item-button-report", "data-model": "report-item", "data-open": "modal" do
          %i.far.fa-flag
          %span 不適切な商品の報告
        %input{name: "like_add_url", type: "hidden", value: "https://www.mercari.com/jp/like/add/m16654911626/"}/
        %input{name: "like_del_url", type: "hidden", value: "https://www.mercari.com/jp/like/delete/m16654911626/"}/
        %input{name: "__csrf_value", type: "hidden", value: "93cdc6f0d785c8a48e96064e06225abf69de67f1440fa8333e17928cacc0e41c2f914616368466a0c956c0b7cd12b8c51b68cfd345f11e933657af1915784d798"}/
      .item-button-right
        =link_to "#", target: "_blank" do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-container-detail
      .message-content-detail
        %ul.message-items-detail
          %li.clearfix-list
            = link_to "https://www.mercari.com/jp/u/610527816/", class: "message-user-detail" do
              %figure
                .face-detail
                  = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png"', alt: ''
                %figcaption
                  マシュマシュ
            .message-body-detail
              .message-body-text
                こんにちは
                %br/
                = succeed "\u{4e00}\u{679a}\u{76ee}\u{306e}\u{30c7}\u{30cb}\u{30e0}" do
                  %br/
              .message-icons-detail
                %time.message-icon-left
                  %i.far.fa-clock
                  %span 33 分前
                .message-icon-right
                  %form{action: "https://www.mercari.com/jp/comment/report/m18492380364/2444581889/", method: "POST"}
                    %button{type: "submit"}
                      %i.far.fa-flag
                    %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
      .message-content-detail
        %form.message-form-detail{action: "https://www.mercari.com/jp/comment/add/", method: "POST"}
          %input{name: "__csrf_value", type: "hidden", value: "93cdc6f0d785c8a48e96064e06225abf69de67f1440fa8333e17928cacc0e41c2f914616368466a0c956c0b7cd12b8c51b68cfd345f11e933657af1915784d798"}/
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{name: "item_id", type: "hidden", value: "m16654911626"}/
          %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
          %textarea.textarea-detail{name: "body", type: "text", value: ""}
          %button.message-submit-detail{type: "submit"}
            %span コメントする
  %ul.nav-item-link-prev-next
    %li.nav-item-link-prev
      = link_to "#" do
        %i.fas.fa-chevron-left>
        古酒 琉球泡盛 沖之光 オキノヒカリ 新品
    %li.nav-item-link-next
      = link_to "#" do
        「恋と結婚」を引き寄せる!
        %i.fas.fa-chevron-right
  .item-social-media-box
    %ul.social-media-box-detail
      %li
        = link_to "#", class: "share-btn-detail", "data-window-name": "facebook_window", target: "_blank" do
          %i.fab.fa-facebook-square 
      %li
        = link_to "#", class: "share-btn-detail", "data-window-name": "twitter_window", target: "_blank" do
          %i.fab.fa-twitter-square
      %li
        = link_to "#", class: "share-btn-detail", "data-window-name": "pinterest_window", target: "_blank" do
          %i.fab.fa-pinterest-square
  .items-in-user-profile
    %h2.items-box-head-detail
      = link_to "#" do
        パンダ(☆∀☆)さんのその他の出品
    .items-box-content-detail
      %section.items-box-detail
        = link_to "#" do
          %figure.items-box-photo-detail
            = image_tag 'https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481', alt: '冬ウールスカート', class: "lazyloaded is-higher-width"
          .items-box-body-detail
            %h3.items-box-name-detail 冬ウールスカート
            .items-box-num-detail
              .items-box-price-detail ¥1,000
              .font-2-detail
                %i.far.fa-heart.fa-heart2
                %span 1
      %section.items-box-detail
        = link_to "#" do
          %figure.items-box-photo-detail
            = image_tag 'https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481', alt: '冬ウールスカート', class: "lazyloaded is-higher-width"
          .items-box-body-detail
            %h3.items-box-name-detail 冬ウールスカート
            .items-box-num-detail
              .items-box-price-detail ¥1,000
              .font-2-detail
                %i.far.fa-heart.fa-heart2
                %span 1
      %section.items-box-detail
        = link_to "#" do
          %figure.items-box-photo-detail
            = image_tag 'https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481', alt: '冬ウールスカート', class: "lazyloaded is-higher-width"
          .items-box-body-detail
            %h3.items-box-name-detail 冬ウールスカート
            .items-box-num-detail
              .items-box-price-detail ¥1,000
              .font-2-detail
                %i.far.fa-heart.fa-heart2
                %span 1
      %section.items-box-detail
        = link_to "#" do
          %figure.items-box-photo-detail
            = image_tag 'https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481', alt: '冬ウールスカート', class: "lazyloaded is-higher-width"
          .items-box-body-detail
            %h3.items-box-name-detail 冬ウールスカート
            .items-box-num-detail
              .items-box-price-detail ¥1,000
              .font-2-detail
                %i.far.fa-heart.fa-heart2
                %span 1
  .items-in-user-profile2
    %h2.items-box-head-detail
      = link_to "#" do
        パンダ(☆∀☆)さんのその他の出品
    .items-box-content-detail
      %section.items-box-detail
        = link_to "#" do
          %figure.items-box-photo-detail
            = image_tag 'https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481', alt: '冬ウールスカート', class: "lazyloaded is-higher-width"
          .items-box-body-detail
            %h3.items-box-name-detail 冬ウールスカート
            .items-box-num-detail
              .items-box-price-detail ¥1,000
              .font-2-detail
                %i.far.fa-heart.fa-heart2
                %span 1
      %section.items-box-detail
        = link_to "#" do
          %figure.items-box-photo-detail
            = image_tag 'https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481', alt: '冬ウールスカート', class: "lazyloaded is-higher-width"
          .items-box-body-detail
            %h3.items-box-name-detail 冬ウールスカート
            .items-box-num-detail
              .items-box-price-detail ¥1,000
              .font-2-detail
                %i.far.fa-heart.fa-heart2
                %span 1
      %section.items-box-detail
        = link_to "#" do
          %figure.items-box-photo-detail
            = image_tag 'https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481', alt: '冬ウールスカート', class: "lazyloaded is-higher-width"
          .items-box-body-detail
            %h3.items-box-name-detail 冬ウールスカート
            .items-box-num-detail
              .items-box-price-detail ¥1,000
              .font-2-detail
                %i.far.fa-heart.fa-heart2
                %span 1
= render 'layouts/footer'
