= render 'layouts/header_login'
.credit-container
  = render 'layouts/mypageSidebar'
  %div
    .credit-info-content
      %section.credit-chapter-container
        %h2.credit-chapter-head 支払い方法
        .credit-single-inner
          %section
            .credit-single-content
              %h3.credit-chapter-sub-head クレジットカード一覧
            %ul.settings-credit-list
              %li
                %form.credit-single-content{action: "#", method: "POST"}
                  %figure
                  = image_tag @card_src, alt: 'visa', height: '15', width: '49'
                  %input{name: "__csrf_value", type: "hidden", value: ""}/
                  %input{name: "card_sequence_no", type: "hidden", value: ""}/
                  .settings-credit-num 
                  = "************" + @card_information.last4
                  .settings-credit-num 
                  - exp_month = @card_information.exp_month.to_s
                  - exp_year = @card_information.exp_year.to_s.slice(2,3)
                  = exp_month + " / " + exp_year
                = form_tag(card_path(@card.id), method: :delete, id: 'charge-form',  name: "inputForm") do
                  %input{ type: "hidden", name: "card_id", value: "" }
                  %button.settings-credit-remove{type: "submit"}
                    削除する
          .settings-not-regist-credit
            %a{href: "#", target: "_blank"}
              %span 支払い方法について
              %i.fas.fa-chevron-right
= render 'layouts/footer'
