= render 'layouts/header'

.slider
  = link_to "https://jp-news.mercari.com/2019/12/05/kaushika-kaudake", target: "_blank" do
    %img.slider__page1{src:"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-kaushika-8f6ea672063dd8a0266bc2a36b80711a.jpg"}   
  = link_to "https://jp-news.mercari.com/2019/12/05/kaushika-kaudake", target: "_blank" do
    %img.slider__page2{src:"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg"}
  %div.slider__page3
    %img.slider__page3--image{src:"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
    %div.slider__page3--text   
      %p.text1 スマホで かんたん
      %p.text2 フリマアプリ
      %p.text3 メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
    %div.slider__page3--button   
      = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8", target: "_blank" do
        %img.applestore_button{alt:"", src:"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
      = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank" do
        %img.googleplay_button{alt:"", src:"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}


.container
  .category-container
    %h2.category-title 人気のカテゴリー
    .category-contents-box
      %ul.category-contents
        %li.content
          = link_to "レディース","#",class: "content1"
        %li.content
          = link_to "メンズ","#",class: "content2"
        %li.content
          = link_to "家電・スマホ・カメラ","#",class: "content3"
        %li.content
          = link_to "おもちゃ・ホビー・グッズ","#",class: "content4"
  .item-container
    .items-box
      .items-heading
        %h3.items-title レディース新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
  .item-container
    .items-box
      .items-heading
        %h3.items-title メンズ新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title 家電・スマホ・カメラ新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title おもちゃ・ホビー・グッズ新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ                      
  .brand-container
    %h2.category-title 人気のブランド
    .category-contents-box
      %ul.category-contents
        %li.content
          = link_to "シャネル","#",class: "content1"
        %li.content
          = link_to "ルイヴィトン","#",class: "content2"          
        %li.content
          = link_to "シュプリーム","#",class: "content3"          
        %li.content
          = link_to "ナイキ","#",class: "content4"        

  .item-container
    .items-box
      .items-heading
        %h3.items-title シャネル新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title ルイヴィトン新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title シュプリーム新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ

  .item-container
    .items-box
      .items-heading
        %h3.items-title ナイキ新着アイテム
        = link_to "もっと見る ＞","#",class: "items-detail"
      .items-list
        %ul.items
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
          %li.item
            %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
              = link_to "#",class: "item-link" do
                %figure.item-figure
                  %div{"item-style" => ""}
                    %span.item-price{"aria-label" => "price"}
                      ¥
                      1,400
                    %img.item-img{alt: "Thumbnail of \"キャスキットソン トートバッグ\"", src: "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                  %figcaption
                    %span.item-name
                      キャスキットソン トートバッグ
= render 'layouts/footer'
